.job-listings-container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding-bottom: 40px;
}

.job-card {
	max-width: 1440px;
	margin: 0 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-cyan);
	border-radius: var(--border-radius);
	padding: 25px 60px;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.border {
	border-left: 10px solid var(--desaturated-dark-cyan);
	padding-left: 50px;
}

.job-card-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
}

.job-description {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.job-description > * {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.company-name {
	font-weight: 600;
	color: var(--desaturated-dark-cyan);
}

.new-listing {
	background-color: var(--desaturated-dark-cyan);
	color: var(--light-cyan);
	font-weight: 600;
}

.featured-listing {
	background-color: var(--very-dark-grayish-cyan);
	color: var(--light-cyan);
	font-weight: 600;
}

.badge {
	display: flex;
	align-items: center;
	padding: 4px 10px;
	border-radius: 20px;
}

.badge p {
	font-size: 15px;
}

.job-position p {
	font-weight: 700;
	font-size: 18px;
	color: var(--very-dark-grayish-cyan);
}

.job-position p:hover {
	color: var(--desaturated-dark-cyan);
}

.job-info {
	color: var(--gray);
}

.dot img {
	filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(0%)
		hue-rotate(122deg) brightness(90%) contrast(93%);
}

.job-filters {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.job-filters span {
	background-color: var(--light-cyan-background);
	color: var(--desaturated-dark-cyan);
	font-weight: 600;
	padding: 8px 8px;
	border-radius: var(--border-radius);
}

.job-filters span:hover {
	color: var(--light-cyan);
	background-color: var(--desaturated-dark-cyan);
}

@media (width < 1270px) {
	.job-listings-container {
		gap: 70px;
		margin-top: 20px;
	}

	.job-card {
		max-width: 320px;
		margin: 0 auto;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		padding: 0 20px 0 20px;
	}

	.job-card:hover,
	.active {
		padding-left: 10px;
	}

	.job-card-content {
		flex-direction: column;
		align-items: last baseline;
		transform: translateY(-40px);
		gap: 0;
	}

	.company-image {
		transform: scale(0.7);
	}

	.job-description {
		margin-bottom: 10px;
	}

	.job-filters {
		transform: translateY(-30px);
		border-top: 1px solid var(--gray);
		padding-top: 15px;
		flex-wrap: wrap;
	}
}
