.App {
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--light-cyan-background);
}

.heading {
	max-width: 1440px;
	margin: 0 auto;
	background-color: var(--desaturated-dark-cyan);
	display: flex;
}

.heading img {
	width: 100%;
	margin: 0 auto;
}

.search-bar-container {
	max-width: 1440px;
	margin: 0 auto;
	background-color: var(--light-cyan-background);
}

.search-bar {
	background-color: var(--light-cyan);
	margin: 0 150px;
	padding: 15px 0;
	transform: translateY(-35px);
	border-radius: var(--border-radius);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search-bar ul {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
	gap: 20px;
}

.search-bar ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	background-color: var(--light-cyan-background);
	border-radius: var(--border-radius);
	max-height: 30px;
	padding: 0 0 0 10px;
}

.search-bar ul li p {
	color: var(--desaturated-dark-cyan);
	font-weight: 600;
}

.search-bar ul li button {
	border: none;
	background-color: var(--desaturated-dark-cyan);
	height: 30px;
	padding: 0 6px;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	display: flex;
	align-items: center;
}

.search-bar ul li button:hover {
	background-color: var(--very-dark-grayish-cyan);
}

.search-bar ul li button img {
	filter: invert(1);
	margin: 0 auto;
}

.clear-button {
	margin-right: 40px;
	background-color: transparent;
	border: none;
	color: var(--desaturated-dark-cyan);
	font-weight: 600;
}

.clear-button:hover {
	border-bottom: 1px solid var(--desaturated-dark-cyan);
}

@media (width < 1270px) {
	.search-bar {
		width: 320px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.search-bar ul {
		flex-direction: row;
		margin-left: 0;
		flex-wrap: wrap;
	}

	.clear-button {
		margin-right: 0;
	}
}

@media (width <= 375px) {
	.App {
		max-width: 375px;
	}

	.heading img {
		max-width: 375px;
	}
}
