.App {
	width: 100%;
	min-height: 100vh;

	background-color: var(--dark-grayish-cyan);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--heading-font);
}

.heading {
	background-color: var(--desaturated-dark-cyan);
	max-width: 1440px;
	width: 100%;
	max-height: 156px;
	position: relative;
}

.heading-image {
	display: block;
	width: 100%;
	height: 150px;
}

.search-bar-container {
	width: 100%;
	max-width: 1440px;
	position: absolute;
	transform: translateY(120px);
}

.search-bar {
	background-color: var(--light-cyan);
	min-height: 65px;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 100px;
}

.search-bar ul {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
	gap: 20px;
}

.search-bar ul li {
	background-color: var(--light-cyan-background);
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: space-between;

	border-radius: 3px;
	padding-left: 10px;
}

.search-bar ul li p {
	color: var(--desaturated-dark-cyan);
	font-weight: 700;
}

.delete-button {
	border: none;
	padding: 0;
	background-color: var(--desaturated-dark-cyan);
	color: var(--light-cyan);
	font-weight: 700;
	font-size: var(--heading-font);
	padding: 8px 8px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.delete-button img {
	filter: brightness(0) saturate(100%) invert(100%) sepia(50%) saturate(423%)
		hue-rotate(132deg) brightness(106%) contrast(96%);
}

.clear-button {
	margin-right: 20px;
	border: none;
	background-color: var(--light-cyan);
	font-size: 17px;
	font-weight: 600;
	color: var(--desaturated-dark-cyan);
}

.search-bar button:hover {
	border-bottom: 1px solid var(--desaturated-dark-cyan);
	cursor: pointer;
}

.job-listing-container {
	box-sizing: border-box;
	min-height: 100vh;
	max-width: 1440px;
	height: 100%;
	background-color: var(--light-cyan-background);
	padding: 0 100px;
	margin: 0 auto;
}

@media (min-width: 1440px) {
	.search-bar-container {
		width: 1440px;
	}

	.job-listing-container {
		width: 1440px;
	}
}

@media (max-width: 375px) {
	.App {
		width: 375px;
		background-color: var(--light-cyan-background);
	}

	.heading-image {
		width: 375px;
	}

	.search-bar-container {
		position: static;
		transform: translateY(-30px);
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.search-bar {
		margin: 0 10px 0;
	}

	.search-bar ul {
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		padding: 15px 0;
	}

	.job-listing-container {
		width: 375px;
		padding: 0;
		transform: translateY(-35px);
	}
}
